<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS Files -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Favicon Images -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <title>TechSearch | About</title>
</head>

<body>
  <!-- Header -->
  <header class="header-container flex">
    <div class="logo">
      <a href="/">
        <img src="/static/images/logo.png" alt="TechSearch Logo">
      </a>
    </div>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/about">About</a>
    </div>
  </header>

  <!-- Footer -->
  <footer>
    <div class="logo">
      <a href="/">
        <img src="static/images/logo.png" alt="TechSearch Logo">
      </a>
    </div>
    <div class="footer-nav">
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/about">About</a>
    </div>
    <p>&copy; 2020 TechSearch</p>
  </footer>
</body>

</html>
