<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!-- Font Aesome -->
  <script src="https://kit.fontawesome.com/e7d1aff838.js" crossorigin="anonymous"></script>

  <!-- Favicon Images -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <title>TechSearch | Home</title>
</head>

<body>
  <!-- Header -->
  <header class="header-container flex">
    <div class="logo">
      <a href="/">
        <img src="/static/images/logo.png" alt="TechSearch Logo">
      </a>
    </div>
    <div class="navbar">
      <a class="hover" href="/">Home</a>
      <a class="hover" href="/search">Search</a>
      <a class="hover" href="/about">About</a>
    </div>
  </header>

  <!-- Call to Action -->
  <div class="cta flex">
    <div class="cta-text">
      <h1>Research Hot Tech Jobs</h1>
      <p>Research tech jobs in the hottest tech cities</p>
    </div>
    <div class="btn">
      <a class="hover" href="/search">Research a Job</a>
    </div>
  </div>

  <!-- Overview -->
  <div class="overview">
    <h2>Why Use TechSearch</h2>
    <div class="overview-card-container flex">
      <div class="find-a-job card">
        <i class="fas fa-chart-line"></i>
        <h3>See The Demand</h3>
        <p>See how much demand there is for tech positions in some of the hottest tech cities in the country.</p>
      </div>
      <div class="one-place card">
        <i class="fas fa-dollar-sign"></i>
        <h3>Find Your Value</h3>
        <p>See the average high to low salaries for each position in the city you are looking. Find how much you are
          worth
          in the countries tech hotbeds.</p>
      </div>
      <div class="job-title card">
        <i class="fas fa-laptop-code"></i>
        <h3>Search Based on Title</h3>
        <p>All jobs will be related to the job title that fits you. No need to skim through unrelated positions.</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="flex">
    <img src="/static/images/logo-image.png" alt="TechSearch Logo">
    <div class="footer-nav">
      <a class="hover" href="/">Home</a>
      <a class="hover" href="/search">Search</a>
      <a class="hover" href="/about">About</a>
    </div>
    <p>&copy; 2020 TechSearch</p>
  </footer>
</body>

</html>