{% extends "search.html" %}
{% block content %}

<h1>Tech Job Search Results</h1>
<ul>
  <p> {{ r_title }} </p>
  <p> {{ r_city }} </p>
  <p> {{ r_count }} </p>
  <p> {{ r_lsalary }} </p>
  <p> {{ r_hsalary }} </p>
  <li> {{ r_skills[0] }} </li>
  <li> {{ r_skills[1] }} </li>
  <li> {{ r_skills[2] }} </li>
  <li> {{ r_skills[3] }} </li>
  <li> {{ r_skills[4] }} </li>
  <li> {{ r_skills[5] }} </li>
  <li> {{ r_skills[6] }} </li>
  <li> {{ r_skills[7] }} </li>
  <li> {{ r_skills[8] }} </li>
  <li> {{ r_skills[9] }} </li>
</ul>

{% endblock %}
