/* Form Styling */
.form-section {
  background: #3066BE;
  height: 20vh; 
  text-align: center;
  color: #FDFFFC;
  padding-top: 50px;
}

.form-section h2 {
  padding-bottom: 30px;
}

.form-section .form-container {
  margin-right: 50px;
}

/* dropdown select */
.form-section .form-container .dropdown {
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #333;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 30%;
	max-width: 30%;
	margin: 0 20px;
	border: hidden;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

/* button */
.form-section .form-container button {
  margin: 0 30px;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 6px 50px;
}

.form-section .form-container button:hover {
  font-size: 1.25rem;
  background: #acacac80;
  border-color: #acacac80;
  color: #f3f3f3;
}

/* Pre Results */
.pre-results-container,
.results-container {
  height: 95vh;
  background: #f3f3f3;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.pre-results-container .image {
  width: 350px;
  height: auto;
  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Results */
/* Results Header */
.results-header {
  background: #3066BE;
  height: 15vh; 
  text-align: center;
  color: #FDFFFC;
}

.results-header h2 {
  padding-top: 25px;
}

/* Results Container */
.results-container {
  background: #f3f3f3;
  padding: 50px;
}


/* Results Card */
.results-card {
  background: #fff;
  border-radius: 20px;
  padding: 30px 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.results-card .number-results {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0;
}

.results-card .salary,
.results-card .keywords {
  font-size: 1.3rem;
  margin: 10px 0;
}

.results-card .salary p:first-child,
.results-card .keywords p {
  font-weight: 600;
  padding-bottom: 10px;
}

.results-card .salary p:last-child {
  padding-left: 30px;
}

.results-card .keywords p {
  padding-right: 50px;
}

.results-card .keywords ul li {
  padding: 5px 0 5px 30px;
}